services:
  db-migration:
    container_name: db-migration
    build:
      context: .
    volumes:
      - ./out:/usr/src/app/out
    - ./index.js:/usr/src/app/index.js
      - ./tables.json:/usr/src/app/tables.json
    env_file:
      - .env
    networks: 
      - wsl
networks:
  wsl:
    external: true
