services:
  db-migration:
    container_name: db-migration
    build:
      context: .
    volumes:
      - ./out:/usr/src/app/out
    env_file:
      - .env
    networks: 
      - wsl
networks:
  wsl:
    external: true
